body{
    background-color: black;
}

h1{
    color: white;
    text-align:center;
}

.buttons{
    padding-top: 350px      ;
}

input{
    border-radius: 15px;
    padding: 15px;
}

#yes, #no{
    width: 750px;
    height: 100px;
}

.yes{
float:left;
}

.no{
padding-bottom: 10px;
float: right;
}

#dontknow{ 
    height: 100px;
    width:100%;
}

#timeLeft{
    color: white;
    
}

#yes:hover, #no:hover,#dontknow:hover{
    background-color: gainsboro;
    border-style:groove;
    border-color: grey;
    border-width: 6px;

}

