@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
body{
    background-color: black;
    font-family: 'Anonymous Pro', monospace;  
    background-size: cover;
}
h2
{
    color: white;
}


.form
{
    text-align:center;
    color: white;
    
}
input{
    border-radius: 15px;
    padding: 15px;
}
#save
{
    padding-right: 200px;
    padding-left: 200px;
}
h1{
    color: white;
}
h3{
    color: white;
}
#sresults{
    padding-right: 190px;
    padding-left: 166px;
    text-align: center;
}
#typewriter{
    overflow: hidden;
    border-right: .15em solid hidden;
    white-space: nowrap; 
    margin: 0 auto;
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 2.5s steps(60, end),
      blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }
  
.rain{
    height: 100vh;
    background-image: url(rain.png);
    animation: rain 0.3s linear infinite;
}
@keyframes rain{
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 10% 100%;
    }
}
.rain::before{
    content: "";
   
    width: 100%;
    height: 100%;
    background-image: url(lightining.png);
    top: -100px;
    transform: rotate(180deg);
    animation: lightining 4s linear infinite;
    opacity: 1;
}
@keyframes lightining{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    21%{
        opacity: 1;
    }
    25%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    31%{
        opacity: 1;
    }
    35%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}






