body{
    background-color: black;
}
h2
{
    color: white;
}


.form
{
    text-align:center;
    color: white;
    
}
input{
    border-radius: 15px;
    padding: 15px;
}
#save
{
    padding-right: 200px;
    padding-left: 200px;
}

